h1
{
text-align: center;
 border-style: solid;
  border-color: green;
 background-color : lightgray;
 margin : 25px;
}
section
{

border-style: solid;
  border-color: green; 
  background-color : lightgray;
}

